#test{
  color: white;
}

.movieContent{
  border: solid 1px white;
  border-radius: 10px;
  padding: 2vh 1vw;
  height: 75vh;
  margin: 2vh 2vw 2vh 15vw;
  display: flex;
  width: 70vw;
}

.textMovie{
  color:white;
  padding-top: 4vh;
}

#tvShowTitle,
#movieTitle{
  color: white !important;
  margin-right: 1vw;
}

.moviePicture{
  width: 25vw;
  height: 60vh;
  margin-left: 5vw;
  margin-top: 5vh;
}
.movieInfs{
  border-left: solid 1px white;
  margin-left: 5vw;
  color: white;
  padding: 3vh 0vw 0vh 2vw;
}

.movieInfs .movieInfoTitle{
  font-weight: bold;
  text-decoration: underline;
  font-size:1.4vw !important;
}



.movieInfs .movieInfo{
  margin: 2vh 0vw 3vh 0vw;
}

.movieDetail img{
  margin-top: 2vh;
}

.movieHeader{
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  font-family: "Roboto Light";
  width: 100%;
  height: 8vh;
  padding-top: 3vh;
}
.movieHeader .ng-fa-icon.icon-favorite:nth-child(2){
  color: yellow;
}
.movieHeader .ng-fa-icon.icon-favorite:nth-child(3){
  color: #6c472a ;
}
.movieHeader .ng-fa-icon.icon-favorite:nth-child(4){
  color: #00a700;
}

.movieHeader .icon-not-favorite{
  color: grey;
}


.movieHeader .ng-fa-icon{
  margin-right: 1vw;
}


.textMovie .movieOtherInformations{
  padding-left: 4vw;
  margin-bottom: 1vh;
}
.movie .icon-not-favorite,
.movie .icon-favorite{
  position: absolute;
  font-size: 1.2vw;
  padding: 1vh 0.4vw;
}

.icon-favorite{
  color: yellow;

}

.icon-not-favorite{
  color: grey;
}

.movieInfs .iconMovieInfo {
  color: white;
  font-size: 1.3vw;
  margin-right: 0.7vw;
}

.movieInfo {
  max-height: 25vh;
  overflow-y: auto;
}

