#search{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 3.5vh;
  margin-right: 2vw;
}

#search .form-inline{
  display: flex;
}

#search .form-inline .form-control{
  margin-right: 1vw;
}

#search .form-inline .btn{
  background-color: white;
  border-color: green;
  color: green;
}

#netflix-clone-navbar{
  height: 11vh;
  background-color: black !important;
  border-bottom: solid white 1px;
}


.nav-link{
  margin-left: 3vw;
  font-size: 1.4vw;
  font-weight: bold;
  color:#c80000;
  padding-top:2vh;
}

.input-group-append{
  padding-left: 1vw;
}

#websiteTitle{
  margin-left: 10vw;
  font-size: 3vw;
}

.nav-link:hover{
  color: white;
  transform: scale(1.2);
  transition: 0.5s;
}
