<nav id="netflix-clone-navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="nav-link" routerLink="/homepage">{{'home' | translate}}</a>
  <a class="nav-link" routerLink="/myspace">{{'mySpace' | translate}}</a>
  <a class="nav-link" routerLink="/movies">{{'movies' | translate}}</a>
  <a class="nav-link" routerLink="/tvshows">{{'tvShows' | translate}}</a>

  <a id="websiteTitle" class="nav-link" routerLink="/homepage">G E T F L I X</a>

<div id="search" *ngIf="showSearchBar">
  <div class="input-group">
    <app-searchbar></app-searchbar>
  </div>
</div>
</nav>


