<nav id="netflix-clone-navbar" class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="nav-link" routerLink="/myspace">My Space</a>
  <a class="nav-link" routerLink="/movies">Movies</a>
  <a class="nav-link" routerLink="/tvshows">TV Shows</a>
  <div id="websiteTitle" class="nav-link" routerLink="/homepage">G E T F L I X</div>

<div id="search">
  <div class="input-group">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <div class="input-group-append">
      <button (click)="addAndRemoveClass()" [ngClass]="animationClass" class="btn btn-outline-success" type="button"><fa-icon [icon]="faMagnifyingGlass"></fa-icon></button>
    </div>
  </div>
</div>
</nav>


