.header {
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}
button {
  background-color: #e50914; /* Netflix red color */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
button:hover {
  background-color: #b70000; /* Slightly darker red on hover */
}
#logoutBtn{
  position: fixed;
  top: 15vh;
  right: 3vw;
  border:solid 1px black;
  border-radius: 8px;
  transition: 0.4s;
}
#logoutBtn:hover{
  background-color: white;
  color: black;
}
.movieCard{
  max-width: 20vw;
}
.mySpaceMovieShow{
    display: flex;
    flex-wrap: wrap;
    margin : 0vh 9vw;
}
.movieStateTitle{
  color:white;
  font-size: 2vw;
  padding: 3vh 0vw 3vh 3vw;
  font-weight: bold;
}
.seenMovieShow,
.mustSeeMovieShow,
favoriteMovieShow{
  margin-top: 3vh;
}
.language{
  color: white;
}
