.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15vh;
  height:85vh;
}
.no-available-movies{
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 15%;
  font-weight: bold;
  font-size: 2vw;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  margin: 0vh 9vw;
}
.titleSearch{
  color: white;
  text-align: center;
  font-size: 3vw;
  height: 10vh;
  width: 100%;
  display: block;
  margin-top: 5vh;
}
