<div class="signInPage">
<div class="main">
  <div class="login text-center">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <label>{{'signIn' | translate}}</label>
      <input type="email" name="userEmail" placeholder="{{'email' | translate}}" formControlName="userEmail">
      <span class="text-danger" *ngIf="userEmailControl?.invalid && userEmailControl?.touched">Email is not valid</span>
      <br>
      <input type="password" name="userPassword" placeholder="{{'password' | translate}}" formControlName="userPassword">
      <span class="text-danger" *ngIf="userPasswordControl?.invalid && userPasswordControl?.touched">Password is required</span>
      <br>
      <button type="submit" [disabled]="!signInForm.valid">{{'login' | translate}}</button>
    </form>
    <a [routerLink]="['/sign_up']">{{'noAccount' | translate}}</a>
  </div>
</div>
</div>

