<div class="movieCard" *ngIf="movie || tvShow">
  <div class="movie">
    <div class="iconMovieState">
      <fa-icon
        data-toggle="tooltip"
        title="Favoris"
        [icon]="faStar"
        [ngClass]="isFavoriteClass"
        (click)="addToFavorite(movie?.id || tvShow?.id)"
      ></fa-icon>
      <fa-icon
        data-toggle="tooltip"
        title="MustSee"
        [icon]="faTicket"
        [ngClass]="isMustSeeClass"
        (click)="addToMustSee(movie?.id || tvShow?.id)"
      ></fa-icon>
      <fa-icon
        data-toggle="tooltip"
        title="Seen"
        [icon]="faSquareCheck"
        [ngClass]="isSeenClass"
        (click)="addToSeen(movie?.id || tvShow?.id)"
      ></fa-icon>
    </div>
    <div class="moviePicture" (click)="navigateToDetail()" *ngIf="movie">
      <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" onerror="this.classList.add('error-image'); this.src='../../../assets/error.png'" alt="" />
    </div>

    <div class="moviePicture" (click)="navigateToTvShowDetail()" *ngIf="tvShow">
      <img src="https://image.tmdb.org/t/p/w500/{{tvShow.poster_path}}" alt="" />
    </div>
  </div>
  <div class="textMovie">
    <div class="movieOriginalTitle">{{movie?.original_title || tvShow?.original_name || 'No Title Available'}}</div>
    <br />
    <div class="movieOtherInformations">
       {{'popularity' | translate }}: {{movie?.popularity || tvShow?.popularity || 'No Popularity Available'}}
      <br />
      {{'releaseDate' | translate }}: {{changeFormatDate(movie?.release_date || tvShow?.first_air_date)}}
    </div>
  </div>
</div>

