<div class="movieCard">
  <div class="movie">
    <div><p>{{movie?.original_title}}</p></div>
      <fa-icon [icon]="faStar" [ngClass]="isFavoriteClass" (click)="addToFavorite(movie?.id)"></fa-icon>
      <div>
        <a routerLink="/movie_details" (click)="navigateToDetail()"><img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" alt=""></a></div>
      </div>
    <div class="textMovie">
      <div class="movieOriginalTitle">{{movie?.original_title}}</div>
      <br>
      <div class="movieOtherInformations">
      Popularity : {{movie?.popularity}}
      <br>
      Release date : {{changeFormatDate(movie?.release_date)}}
    </div>
  </div>
</div>
