.error-container {
  text-align: center;
  margin-top:17vh
}

img {
  max-width: 50%;
  height: 400px;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  color: #e50914;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  color: #555;
}

