.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin : 0vh 6vw;
  }

#moviePageTitle{
  color: white;
  text-align:center;
  font-size:3vw;
  height: 10vh;
}

.movieCard{
  max-width: 20vw;
}
